<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GlobalChat - Add Post</title>
    <link rel="stylesheet" href="/style2.css" />
  </head>
  <body>
    <nav>
      <h1>GlobalChat - Add a Global Post</h1>
    </nav>
    <form action="http://localhost:5000/posts" class="info" method="post">
      <input type="text" name="username" placeholder="Enter your username" />
      <textarea name="content" placeholder="Enter your post content"></textarea>
      <button type="submit">Add post</button>
    </form>
  </body>
</html>
