*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    padding: 4vh 4vw;
    background-color: rgb(45, 182, 255);
    gap: 2vh;
    color: white;
    border-radius: 20px;
}
.post h1{
    font-weight: 500;
}
.post p{
    font-size: 1.2rem;
}